@model NewsletterEmail
@{
    ViewData["Title"] = "Index";
    
}

    <main role="main">

        <div class="jumbotron jumbotron-fluid frutas">
            <div class="container text-center element-animate">
                <!-- text-center  = centraliza o botão no meio do jumbo-->
                <p class="display-4 mt-5">Os melhores produtos de tecnologia</p>
            </div>
        </div>




        <!-- Lista de Produtos
            ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <!-- TODO - Chamar Componente -->
        <vc:produto-listagem></vc:produto-listagem>
    </main>

@{
/*
 * Razor - Motor Template do ASP.NET
 * Html Helper - Interface que proporciona gerar código HTML por meio do C#, isso ajuda na manipulação de informações entre HTML e Tecnologia ASP.NET
 */

/*
 * URL: #Fragmento
 */

/*
 * Primeiro formulário:
 * @using (Html.BeginForm("index", "home", FormMethod.Post))
 */
}



@using (Html.BeginForm(null, null, null, FormMethod.Post, true, new { @action = @Url.Action("index", "home") + "#formulario" }))
{

        <div class="container" id="formulario">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-6 offset-sm-2">
                    <div class="form-group">
                        <label for="nome">Cadastre seu e-mail para receber promoções:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa  fa-envelope "></i></span>
                            </div>
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <span style="color: red;">@Html.ValidationMessageFor(m => m.Email)</span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <br />
                    <button class="subscribe btn btn-primary btn-block" type="submit" style="margin-top: 7px"> Cadastrar-se </button>
                </div>


            </div>
        </div>
    
}